/* Pagseguro_Payment */

.container-pagseguropayment_cc .billing-address-details,

.container-pagseguropayment_cc .installments select {
    width: 225px;
}
.container-pagseguropayment_cc .cc-number {
    position: relative;
}
.container-pagseguropayment_cc .cc-number .credit-card-types-container {
    position: absolute;
    margin-left: 174px;
    margin-top: 29px;
}

.container-pagseguropayment_cc .cc-number .credit-card-types-container li.item {
    display: none;
}
.container-pagseguropayment_cc .cc-number .credit-card-types-container li.item._active {
    display: block;
}

.fieldset > .field .fields.group.group-2 .field, .fieldset > .fields > .field .fields.group.group-2 .month {
    width: auto !important;
}

.fieldset .fieldset > .field.cvv > .control {
    display: inline-block;
    padding-right: 20px;
}

